<!DOCTYPE html>
<!--
index.js에서 랜더링하는 템플릿 파일
 -->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>test list</p>
    <ul>
      <li><a href="/test/ajax">TestAjax</a></li>
    </ul>
  </body>
</html>
